<!doctype html>
<html lang="en">
<head>
  <title>SkillZone Course Page</title> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
     {{> tracking_code_script}}

<style>
 .starRate {position:relative; margin:0px; overflow:hidden; zoom:1;}
.starRate ul {width:160px; margin:0; padding:0;}
.starRate li {display:inline; list-style:none;}
.starRate a, .starRate b {background:url(img/star_rate.gif) left top repeat-x;}
.starRate a {float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
.starRate b {position:absolute; z-index:-1; width:80px; height:16px; background-position:left -16px;}
.starRate div b {left:0px; bottom:0px; background-position:left top;}
.starRate a span {position:absolute; left:-300px;}
 </style>	 
	 
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button class="navbar-btn">
            <a href="/" class="btn" onclick="history.back();return false;"><i class="fa fa-arrow-left fa-fw"></i></a>
          </button>
          <a class="navbar-brand" >Course Detail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body onload="checkUser()">
	<div class="container">

{{#each singleCourse}}

		<div class="courses">

		    <div class="jumbotron" id="jumbo">
		      <div class="container">
		        <h1>{{courseName}}</h1>
		        <p><!--Going to put stars in this.--></p>
		      </div>
		    </div> 
			<!--<img src="{{courseImageURL}}">-->
		  <br>
			<div class="row">
				<div class="col-xs-5">

				  <button name="{{author}}"  class="btn btn-default btn-md btn-block version_a_profile" role="button" onclick="convertLink()" id="profileLink")>See Profile</button>
			  	</div>

				<div class="col-xs-7">
				  <h4>{{first}}&nbsp;{{last}}</h4>
				  <p></p>
		   		</div>
	   		</div> 
			<div class="form-group">
        <input type="hidden" class="form-control" id="courseImageUrl" placeholder="" name="courseImageUrl" value="{{courseImageURL}}">
      </div>
	   		<div class="row">
	   			<div class="col-xs-12">
			      <h5><strong>Course Description</strong></h5>
			      <p>{{description}}</p>
				  <h5><strong>Summary</strong></h5>
				  <p>{{summary}}</p>
				  <h5><strong>Average  Hours Per Lesson</strong></h5>
				  <p>{{lengthOfLectures}}</p>
				  <h5><strong>Total Expected Time Commitment (in Hours)</strong></h5>
				  <p>{{numberOfLectures}}</p>
				  <h5><strong>Category</strong></h5>
				  <p>{{category}}</p>
				  <h5><strong>Rating</strong></h5>
				  	 <div class="starRate" name="star" value="{{rating}}">
						<div><b></b></div>
						<ul>
							<li><a id="star5"><span></span></a></li>
							<li><a id="star4"><span></span></a></li>
							<li><a id="star3"><span></span></a></li>
							<li><a id="star2"><span></span></a></li>
							<li><a id="star1"><span></span></a></li>
						</ul>
					</div>
				</div>
	   		</div>

		  <div class="form-group">
		    <input type="hidden" class="form-control" id="courseEnroll" placeholder="Type your password" name="courseName" value="{{courseName}}">
		  </div>
		  <div class="form-group">
		    <input type="hidden" class="form-control" id="user" placeholder="Type your password" name="pUser" value="">
		  </div>
		<p hidden id="author">{{author}}</p>
		<p hidden id="student">{{studentEnrolled}}</p>
		
		<button  class="btn btn-primary btn-md btn-block version_a_enroll" role="button" onclick="enrolledInClass()" id="enrollButton")>Enroll in Class</button>
		<button  class="btn btn-info btn-md btn-block disabled" id="rateButton">Rate this class! (Under Construction)</button>
		<button  class="btn btn-default btn-md btn-block" role="button" onclick="unenrollInClass()" id="unenrollButton")>Unenroll in Class</button>
		<button  class="btn btn-default btn-md btn-block" role="button" onclick="redirectLogin()" id="loginButton")>Please Login before Enrolling</button>
		<button  class="btn btn-danger btn-md btn-block" role="button" onclick="deleteClass()") id="deleteButton">Delete Class</button>
{{/each}}
	</div>
<script>
$("#enrollButton").hide();
$("#deleteButton").hide();
$("#unenrollButton").hide();
$("#loginButton").hide();
$("#lectureLinks").hide();
$("#lectureLinksHeader").hide();
$("#rateButton").hide();

function convertLink()
{
	var user = document.getElementById("profileLink").name;
	window.location="/profile?pUser="+encodeURIComponent(user);
}

function unenrollInClass()
{
	var user = getCookie("username");
	var cN = document.getElementById("courseEnroll").value;
	window.location="unenroll_in_class?pUser="+user+"&courseName="+cN;
}
function redirectLogin()
{
	window.location="sign_in";
}

function checkUser()
{
var courseImageURL = document.getElementById("courseImageUrl").value;
var courseImage = document.getElementById("jumbo").style.backgroundImage = "url("+courseImageURL+")";
//courseImage.style.backgroundImage = url(courseImage.value);
	var user = getCookie("username");
	if(user == "")
	{
		$("#loginButton").toggle();
	}
	else if( user == document.getElementById("author").innerHTML)
	{
		$("#deleteButton").toggle();
	}
	else if(user == document.getElementById("student").innerHTML)
	{
		$("#unenrollButton").toggle();
		$("#lectureLinks").toggle();
		$("#lectureLinksHeader").toggle();
		$("#rateButton").toggle();
	}
	else
	{
		$("#enrollButton").toggle();
	}
	var courses = document.getElementsByName("star");
	var i;
	for(i=0; i< courses.length; i++)
	{
		var strRating = courses[i].getAttribute("value");
		var intRating = Number(strRating);
		if(intRating != 0)
		{
			courses[i].children[1].children[5-intRating].children[0].innerHTML = "<span></span><b></b>";
		}
	}
}

function deleteClass()
{
	var user = getCookie("username");
	var cN = document.getElementById("courseEnroll").value;
	window.location="delete_class?pUser="+user+"&courseName="+cN;
}

function enrolledInClass()
{
	var user = getCookie("username");
	var cN = document.getElementById("courseEnroll").value;
	window.location="enroll_in_class?pUser="+user+"&courseName="+cN;
}
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}
</script>
</body>
</html>