<!doctype html>
<html lang="en">
<head>
  <title>SkillZone Course Page</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Course Detail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body onload="checkUser()">
{{#each singleCourse}}
	<div class="courses">
      <h1>{{courseName}}</h1>
	  <img src="{{courseImageURL}}" height="300" width="300">
	  <br><button name="{{author}}"  class="btn btn-default" role="button" onclick="convertLink()" id="profileLink")>Click here to view this teacher's profile!</button>
	  <p>By: {{author}}</p>
      <p>Description:{{description}}</p>
	  <p>Summary: {{summary}}</p>
	  <p>Lecture Links: <a href="{{courseLink}}">{{courseLink}}</a>
    </div> 
		  <div class="form-group">
		    <input type="hidden" class="form-control" id="courseEnroll" placeholder="Type your password" name="courseName" value="{{courseName}}">
		  </div>
		  <div class="form-group">
		    <input type="hidden" class="form-control" id="user" placeholder="Type your password" name="pUser" value="">
		  </div>
		<p hidden id="author">{{author}}</p>
		<p hidden id="student">{{studentEnrolled}}</p>
		<button  class="btn btn-default" role="button" onclick="enrolledInClass()" id="enrollButton")>Enroll in Class</button>
		<button  class="btn btn-default" role="button" onclick="unenrollInClass()" id="unenrollButton")>Unenroll in Class</button>
		<button  class="btn btn-default" role="button" onclick="redirectLogin()" id="loginButton")>Please Login before Enrolling</button>
		<button  class="btn btn-danger" role="button" onclick="deleteClass()") id="deleteButton">Delete Class</button>
{{/each}}

<script>
$("#enrollButton").hide();
$("#deleteButton").hide();
$("#unenrollButton").hide();
$("#loginButton").hide();

function convertLink()
{
	var user = document.getElementById("profileLink").name;
	window.location="/profile?pUser="+encodeURIComponent(user);
}

function unenrollInClass()
{
	var user = getCookie("username");
	var cN = document.getElementById("courseEnroll").value;
	window.location="unenroll_in_class?pUser="+user+"&courseName="+cN;
}
function redirectLogin()
{
	window.location="sign_in";
}

function checkUser()
{
	var user = getCookie("username");
	if(user == "")
	{
		$("#loginButton").toggle();
	}
	else if( user == document.getElementById("author").innerHTML)
	{
		$("#deleteButton").toggle();
	}
	else if(user == document.getElementById("student").innerHTML)
	{
		$("#unenrollButton").toggle();
	}
	else
	{
		$("#enrollButton").toggle();
	}
}

function deleteClass()
{
	var user = getCookie("username");
	var cN = document.getElementById("courseEnroll").value;
	window.location="delete_class?pUser="+user+"&courseName="+cN;
}

function enrolledInClass()
{
	var user = getCookie("username");
	var cN = document.getElementById("courseEnroll").value;
	window.location="enroll_in_class?pUser="+user+"&courseName="+cN;
}
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}
</script>
</body>
</html>
