<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Confirm Course Details</title> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <link href="css/stylesheet.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SkillZone</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="enrolled_classes">Enrolled Courses</a></li>
            <li><a href="teaching_courses">Courses I teach</a></li>
            <li><a href="courses">Courses</a></li>
            <li><a href="help">Help</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="sign_in">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>
<h1><p>Almost there!</p></h1>
<p> Please confirm your course details.</p>
<div class="container">
{{#each confirmDetails}}
<form id="add_a_course" role="form" method="get" action="/added_course">

      <div class="form-group">
        <label for="exampleInputEmail1" >Course Title*</label>
		<li>Your Current Course Title: {{courseName}}</li>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="courseName" value="{{courseName}}">
      </div>

      <div>
        <label for="exampleInputPreference1">Select your course category</label>
      </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Select Category
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">For teacher</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">For student</a></li>
      </ul>
    </div>

      <div>
        <label for="exampleInputPreference2">Select your course subcategory</label>
      </div>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
        Select Subcategory
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">For teacher</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">For student</a></li>
      </ul>
    </div>

      <div class="form-group">
        <label for="exampleInputDescription1">Course Description*</label>
		<li>Your Current Course Description: {{courseDescription}}</li>
        <textarea type="text" class="form-control" rows="5" id="exampleInputDescriptions" placeholder="Briefly describe your course." name="courseDescription" value="{{courseDescription}}"></textarea>
      </div>

      <div class="form-group">
        <label for="exampleInputDescription2">Course Guideline</label>
        <textarea type="email" class="form-control" rows="5" id="exampleInputDescription2" placeholder="Guide for your students to get started. This will be shown after they enroll in this course."></textarea>
      </div>

      <div class="form-group">
        <label for="exampleInputLessonPicture1">Course Picture*</label>
		<li>Your Current Course Picture:</li>
		<img src="{{coursePicture}}" height="300" width="300">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Link to Image" name="coursePicture" value="{{coursePicture}}">
      </div>

      <div class="form-group">
        <label for="exampleInputLinkForMaterials">Link to Course Lectures*</label>
		<li>Your Current Course Link:</li>
		<a href="{{lectureURL}}">{{lectureURL}}</a>
        <input type="text" class="form-control" id="exampleInputLinkForMaterials" placeholder="Copy and paste your link for your course materials." name="lectureURL" value="{{lectureURL}}">
      </div>

      <div class="form-group">
        <label for="exampleInputLessonPicture1">Price</label>
        <input type="price" class="form-control" id="exampleInputEmail1" placeholder="Enter the price for your course.">
      </div>

    <div class="checkbox" class="span7 text-center">
        <label>
          <input type="checkbox"> I agree to the <a href="term_of_use">term of use</a>.
        </label>
     </div> 
	 <button  class="btn btn-default" role="button"> Add Course</button>
</form>
{{/each}}          
</div>
	


</body>
</html>
