	<!doctype html>
<html lang="en">
<head>
  <title>SkillZone - Confirm Course Details</title> 

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.stayInWebApp.js"></script>
  <script type="text/javascript" src="js/util.js"></script>
  
</head>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button class="navbar-btn">
            <a href="/" class="btn" onclick="history.back();return false;"><i class="fa fa-arrow-left fa-fw"></i></a>
          </button>
          <a class="navbar-brand" >Confirmation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logged_in"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
            <li><a href="/courses"><i class="fa fa-book fa-fw"></i>&nbsp; Courses</a></li>
            <li><a href="/settings"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="/log_out"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<body>
<h1><p>Almost there!</p></h1>
<p> Please confirm your course details.</p>
<div class="container">
{{#each confirmDetails}}
<form id="add_a_course" role="form" method="get" action="/added_course" onsubmit="changeToCurrent()">

	  <div class="form-group">
        <input type="hidden" class="form-control" id="exampleInputEmail1" placeholder="" name="pUser" value="{{author}}">
      </div>
	   <div class="form-group">
        <input type="hidden" class="form-control" id="exampleInputEmail1" placeholder="" name="firstName" value="{{first}}">
      </div>
	  <div class="form-group">
        <input type="hidden" class="form-control" id="exampleInputEmail1" placeholder="" name="lastName" value="{{last}}">
      </div>
	  
      <div class="form-group">
        <label for="exampleInputEmail1" >Course Title*</label>
		<li><strong id="currentCourseTitle">{{courseName}}</strong></li>
        <input  type="text" class="form-control" id="courseName" placeholder="" name="courseName" value="{{courseName}}" >
		<button  class="btn btn-default" type="button" id="editCourseTitle">Edit Course Title</button>
      </div>

<br>
      <div class="form-group">
        <label for="exampleInputDescription1">Brief Course Description*</label>
		<li><strong id="currentCourseDescription">{{courseDescription}}</strong></li>
        <textarea type="text" class="form-control" rows="5" id="courseDescription" placeholder="Briefly describe your course." name="courseDescription">{{courseDescription}}</textarea>
		<button  class="btn btn-default" type="button" id="editDescription">Edit</button>
      </div>
<br>
      <div class="form-group">
        <label for="exampleInputDescription2">Course Summary</label>
		<li><strong id="currentCourseSummary">{{summary}}</strong></li>
        <textarea type="email" class="form-control" rows="5" id="courseSummary" name="courseSummary" placeholder="Guide for your students to get started. This will be shown after they enroll in this course.">{{summary}}</textarea>
		<button  class="btn btn-default" type="button" id="editSummary">Edit</button>
      </div>
<br>
      <div class="form-group">
        <label for="exampleInputLessonPicture1">Course Picture*</label>
		<li><img src="{{coursePicture}}" height="82" width="151" id="currentCoursePicture"></li>
        <input type="text" class="form-control" id="coursePicture" placeholder="Enter Link to Image" name="coursePicture" value="{{coursePicture}}">
		<br><button  class="btn btn-default" type="button" id="editPicture">Edit</button>
      </div>
<br>
      <div class="form-group">
        <label for="exampleInputLinkForMaterials">Average  Hours Per Lesson*</label>
		<li><strong id="currentCourseLecture">{{lengthOfLectures}}</strong></li>		
        <input type="text" class="form-control" id="courseLecture" placeholder="Put how many hours each session typically lasts" name="lengthOfLectures" value="{{lengthOfLectures}}">
		<br><button  class="btn btn-default" type="button" id="editLecture">Edit</button>
      </div>
	  
	  <div class="form-group">
        <label for="exampleInputLinkForMaterials">Total Expected Time Commitment in Hours*</label>
		<li><strong id="currentCourseLength">{{numberOfLectures}}</strong></li>
        <input type="text" class="form-control" id="numberOfLectures" placeholder="Put how many hours each student would need to put in to finish this course" name="numberOfLectures" value="{{numberOfLectures}}">
		<br><button  class="btn btn-default" type="button" id="editNumber">Edit</button>
      </div>

	 <button  class="btn btn-primary btn-block" role="button"> Submit Course</button>
</form>
{{/each}}          
</div>

<script>

var titleShow = 0;
var descriptionShow = 0;
var summaryShow = 0;
var pictureShow = 0;
var lectureShow = 0;
var numberShow = 0;

$("#courseName").hide();
$("#courseDescription").hide();
$("#courseSummary").hide();
$("#coursePicture").hide();
$("#courseLecture").hide();
$("#numberOfLectures").hide();

	$(document).ready(function(){
		$("#editCourseTitle").click(function(){
			$("#courseName").toggle();
			if(titleShow ==0)
			{
				titleShow = 1;
				document.getElementById("editCourseTitle").innerHTML="Save Course Title";
			}
			else if(titleShow==1)
			{
				titleShow = 0;
				document.getElementById("editCourseTitle").innerHTML="Edit Course Title";
				document.getElementById("currentCourseTitle").innerHTML = document.getElementById("courseName").value;
			}
			});
		});	
		
	$(document).ready(function(){
		$("#editDescription").click(function(){
			$("#courseDescription").toggle();
			if(descriptionShow ==0)
			{
				descriptionShow = 1;
				document.getElementById("editDescription").innerHTML="Save Course Description";
			}
			else if(descriptionShow==1)
			{
				descriptionShow = 0;
				document.getElementById("editDescription").innerHTML="Edit Course Description";
				document.getElementById("currentCourseDescription").innerHTML = document.getElementById("courseDescription").value;
			}
			});
		});	
		
	$(document).ready(function(){
		$("#editSummary").click(function(){
			$("#courseSummary").toggle();
			if(summaryShow ==0)
			{
				summaryShow = 1;
				document.getElementById("editSummary").innerHTML="Save Course Summary";
			}
			else if(summaryShow==1)
			{
				summaryShow = 0;
				document.getElementById("editSummary").innerHTML="Edit Course Summary";
				document.getElementById("currentCourseSummary").innerHTML = document.getElementById("courseSummary").value;
			}
			});
		});	
		
	$(document).ready(function(){
		$("#editPicture").click(function(){
			$("#coursePicture").toggle();
			if(pictureShow ==0)
			{
				pictureShow = 1;
				document.getElementById("editPicture").innerHTML="Save Course Picture";
			}
			else if(pictureShow==1)
			{
				pictureShow = 0;
				document.getElementById("editPicture").innerHTML="Edit Course Picture";
				document.getElementById("currentCoursePicture").src = document.getElementById("coursePicture").value;
			}
			});
		});		

	$(document).ready(function(){
		$("#editLecture").click(function(){
			$("#courseLecture").toggle();
			if(lectureShow ==0)
			{
				lectureShow = 1;
				document.getElementById("editLecture").innerHTML="Save Average  Hours Per Lesson";
			}
			else if(lectureShow==1)
			{
				lectureShow = 0;
				document.getElementById("editLecture").innerHTML="Edit Average  Hours Per Lesson";
				document.getElementById("currentCourseLecture").innerHTML = document.getElementById("courseLecture").value;
			}
			});
		});	

	$(document).ready(function(){
		$("#editNumber").click(function(){
			$("#numberOfLectures").toggle();
			if(numberShow ==0)
			{
				numberShow = 1;
				document.getElementById("editNumber").innerHTML="Save Total Expected Time Commitment in Hours";
			}
			else if(numberShow==1)
			{
				numberShow = 0;
				document.getElementById("editNumber").innerHTML="Edit Total Expected Time Commitment in Hours";
				document.getElementById("currentCourseLength").innerHTML = document.getElementById("numberOfLectures").value;
			}
			});
		});		
		
		function changeToCurrent()
		{
			document.getElementById("courseLecture").value = document.getElementById("currentCourseLecture").innerHTML;
			document.getElementById("coursePicture").value = document.getElementById("currentCoursePicture").src;
			document.getElementById("courseSummary").value = document.getElementById("currentCourseSummary").innerHTML;
			document.getElementById("courseDescription").value = document.getElementById("currentCourseDescription").innerHTML;
			document.getElementById("courseName").value = document.getElementById("currentCourseTitle").innerHTML;
			document.getElementById("numberOfLectures").value = document.getElementById("currentCourseLength").innerHTML;
		}
</script>
</body>
</html>
